.table-container{
    overflow: auto;
    max-height:"400px";
    border:"1px solid #ccc";
    position: relative;
}
.scroll-table{
    border-collapse: collapse;
    width: max-content;
    min-width: 100%
}
.scroll-table th,
.scroll-table td{
    padding:8px 12px;
    border:1px solid #ccc;
  
    background: white;
    
}

.scroll-table thead th{
    position:sticky;
    left:0;
    background-color:#f9f9f9;
    z-index: 2;
}
.scroll-table th:nth-child(2),
.scroll-table th:nth-child(2){
    position: sticky;
    left: 150px;
    background-color: #f9f9f9;
    z-index: 2;
}
.fixed-table{
    border-collapse: collapse;
    min-width: 100px;
    width:1000px
}
